//button base styles
.button-basic {
  color: #ffffff;
  background-color: $primary;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 300ms ease-in;

  &:hover {
    color: $primary;
    border: 2px solid $primary;
    background-color: transparent;
  }
}

//flex center styling
@mixin flex-center {
  display: flex;
  align-items: center;
  margin-inline: auto;
}

@mixin flex-dead-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//flex align styling
@mixin flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-basic {
  display: flex;
}

@mixin container {
  margin-inline: auto;
  width: min(100% - 9.375rem, 71.3125rem);
}

@mixin outer-container {
  margin-inline: auto;
  width: min(100% - 3.75rem, 82.5rem);
}

@mixin flex-direction($direction) {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: $direction;
}

// .container {
//   margin-inline: auto;
//   width: min(100% - 2rem, 60rem);
// }

// .container {
//   margin-inline: auto;
//   width: min(100% - 9.375rem, 71.3125rem);
// }

a {
  color: $secondary-dark-text;
}

li {
  list-style-type: none;
}
