//COLORS
$primary: #FFA149;
$primary-light: #FFF6ED;
$dark-text: #222222;
$secondary-dark-text: #333333;
$paragraph-text: #555555;
$grey: #AAAAAA;
$light-grey: #DDDDDD;
$grey-bg: #F9F9F9;
$secondary-paragraph-text: #777777;
$blue: #5887FF;

//FONTS
$nav-regular: 1rem;
$title1: 3.375rem;
$title2: 3rem;
$body: 1.125rem;
$heading1: 2.125rem;
$heading2: 1.75rem;
$heading3: 1.5rem;
$heading4: 1.25rem;
$small: 0.875rem;

//TABLET FONTS
$tablet-title1: 2.125rem;
$tablet-body: 1rem;
$tablet-heading1: 1.75rem;
$tablet-heading2: 1.5rem;
$tablet-heading3: 0.875rem;
$tablet-small: 0.625rem;


//MOBILE FONTS
$mobile-title1: 2rem;
$mobile-large-body: 0.875rem;
$mobile-body: 0.75rem;
$mobile-heading1: 1.25rem;
$mobile-heading2: 1.125rem;
$mobile-heading3: 1rem;

//FONT WEIGHTS
$regular: 400;
$meduim: 500;
$semibold: 600;
$bold: 700;